.category{
    display: grid;
    grid-template-areas:'one two three four''five two six six' ;
    max-width: 1200px;
    margin:100px auto;
    
}
.category-items{
    position: relative;
}
.category-items img{
    width: 100%;
    height: 100%;
}
.category-item-1{
    grid-area: one;
}
.category-item-2{
    grid-area: two;
}
.category-item-3{
    grid-area: three;
}
.category-item-4{
    grid-area: four;
}
.category-item-5{
    grid-area: five;
}
.category-item-6{
    grid-area: six;
}
.category-items button{
    position: absolute;
    height: 100%;
    top: 0%;
    bottom: 0;
    z-index: 999;
    height: 50px;
    margin: auto;
    left: 0;
    right: 0;
    width: 100px;
}