.contact-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 800px;
    margin: auto;
}
.Contact{
    background-color: rgb(63, 134, 241);
    padding: 20px;
}